

<div class="d-flex justify-content-center pt-5">
  <div class="card rounded-5" style="width: 18rem;">
    <img src="assets/time_managment.svg" class="card-img-top custom-bg-color p-5 custom-card-height" alt="">
    <div class="card-body">

        <h5 class="card-title">{{steps[currentStep].title}}</h5>
        <p class="card-text">{{steps[currentStep].description}}</p>

      <div class="d-flex justify-content-start">

        @for (step of steps; track $index) {
          <a href="#" class=""></a>
          <span
          [class.small-button-selected]="currentStep === $index"
          class="small-button  black-line rounded me-1">
        </span>
      }
      </div>
      <div class="d-flex justify-content-end gap-2">

        @if (currentStep > 0){
          <button
          (click)="prevStep()"
          class="btn btn-light border-dark rounded-circle">
          &#8592;
          </button>
        }
        @if (currentStep < steps.length - 1){
          <button
          (click)="nextStep()"
          class="btn btn-dark rounded-circle">
          &#8594;
          </button>
        }

      </div>
    </div>
  </div>
</div>

