
@for (step of steps; track $index) {
  <h1>{{step.title}}</h1>
  <p>{{step.description}}</p>
}

<div class="d-flex justify-content-center">
  <div class="card rounded-4" style="width: 18rem;">
    <img src="/src/assets/sprints-frontend-assets-main/meditation.svg" class="card-img-top" alt="">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <div class="d-flex justify-content-end">
        <a href="#" class="btn btn-primary rounded-circle">Go somewhere</a>
      </div>
    </div>
  </div>
</div>
