.custom-bg-color {
  background-color: rgb(106, 193, 196);
}

.custom-card-height {
  height: 375px;
}


.small-button{
  background-color: rgb(129, 129, 129);
  width: 2%;
  padding: 3px;
  cursor: pointer;
}

.small-button-selected {
  background-color: rgb(2, 2, 2);
  width: 5%;
}

